* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: black;
}

span {
    color: red;
}

.balaeithesh nav{
    display: flex;
    padding: 20px 0 100px 0;
    justify-content: space-between;
}

nav ul {
    display: flex;
}

nav h1 {
    color: white;
    font-size: 35px;
    padding-left: 15px;
}

nav ul li {
    list-style-type: none;
    padding: 17px 40px;
    /* justify-content: center;
    align-items: center; */
}

nav ul li a {
    text-decoration: none;
    color: white;
    
}

nav ul li a:hover {
    color: red;
    transition: 1s;
}

.button p{
    color: white;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 20px;
    background-color: red;
    padding: 10px;
    margin-top: 5px;
    margin-right: 10px;
}

.button:hover {
    transition: transform 0.5s;
    transform: scale(1.1);
}

#about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* margin-top: 1px; */
    /* margin-bottom: 1px; */
}

.mail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 280px;
    /* margin-left: 200px;
    margin-top: 50px; */
}

.hi img{
    height: 500px;
    width: 350px;
}

h1 {
    color: white;
    padding: 5px 0px 5px 0px;
    font-size: 60px;
    padding-bottom: 35px;
}

h3 {
    color: white;
    padding-bottom: 40px;
    font-size: 30px;
}

h4 {
    color: rgb(255, 142, 142);
    font-size: 20px;
    letter-spacing: 1px;
    padding-bottom: 25px;
}

/* .mail input:first-child {
    padding: 7px;
    border-radius: 30px;
    border: 2px solid red;
    margin-top: 10px;
} */

/* .mail input:last-child {
    
    padding: 5px;
    border-radius: 15px;
    border: 2px solid red;
    color: white;
    background-color: red;
    cursor: pointer;
    margin-top: 10px;
    
}

.mail input:last-child:hover{
    background: transparent;
} */

#bio {
    display: flex;
    padding: 100px;
    justify-content: space-around;
    align-items: center;
    margin: 0px auto;
    
    /* margin-bottom: 1px; */
}

.explanation {
    padding-left: 50px;
}

.explanation h2 {
    color: white;
    font-size: 60px;
    padding-bottom: 50px;
}

.explanation p {
    color: white;
    padding-bottom: 60px;
    font-size: 25px;
}

.explanation button {
    border: 2px solid;
    background-color: red;
    padding: 12px 20px;
    border: 2px solid transparent;
    border-radius: 30px;
    cursor: pointer;
    margin-left: 10px;
}

.explanation button:hover {
    background: transparent;
}

.explanation a{
    color: white;
    text-decoration: none;
}

.service {
    width: 100%;
}

.title h2 {
    color: white;
    font-size: 30px;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px; 
}

#box {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    padding-bottom: 50px;
}

.card {
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: grey;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: scroll;
    text-align: center;
}

.card::-webkit-scrollbar {
    display: none;
}

.card i {
    margin: 15px auto;
    display: block;
    text-align: center;
}

.card h5 {
    font-size: 25px;
    color: white;
    margin-bottom: 20px;
    color: rgb(255, 142, 142);
}

.para p {
    color: white;
    font-size: 18px;
    line-height: 50px;
    margin-bottom: 30px;
    
}

/* .para a:hover{
    transform: scale(1.1);
}

.para a {
    text-align: center;
    color: white;
    background-color: red;
    padding: 5px 10px;
    border: 2px solid transparent;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
    transition: 1s;
} */

#footer {
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 1px; */
}

#footer p:nth-child(1) {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

#footer p:nth-child(2) {
    color: white;
    font-size: 18px;
    text-align: center;
}

.media i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    color: white;
    background-color: red;
    border-radius: 50%;
    text-decoration: none;
    margin: 22px 10px;
    transition: 0.5s;
}

.media i:hover {
    transform: scale(1.1);
}

.media a {
    text-decoration: none;
}

@media only screen and (max-width:1100px) {
    
    .mail{
        padding-right: 30px;
    }
}
@media only screen and (max-width:750px) {
    
    #about{
        flex-direction: column;
    }
    .mail{
        padding: 20px 0 40px 0;
    }
    .balaeithesh{
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }
    .balaeithesh nav{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 0 20px 0;
    }
    nav ul{
        flex-direction: column;
        padding: 30px 0 30px 0;
    }
    nav h1{
        padding: 0;
    }
    #box{
        flex-direction: column;
        padding: 0;
    }
    .para p{
        font-size: 16px;
        line-height: 25px;
    }
    .card h5 {
        font-size: 20px;
    }
    .mail h3{
        padding-bottom: 0;
    }
    #bio{
        flex-direction: column;
        padding-bottom: 50px;
    }
    .explanation h2{
        margin-top: 50px;
    }
}