@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.sectiontitle{
    text-align: center;
}

/* Header Section */
#Home{
    position: relative;
}

nav{
    background-color: #1f242d;
    height: 80px;
    width: 100%;
}

nav .portfolio{
    color: white;
    line-height: 80px;
    margin-left: 10px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1.5px;
}

#time{
    color: #fff;
    font-size: 23px;
    letter-spacing: 1px;
    margin-left: 410px;
    cursor: pointer;
    /* display: none; */
}

#time:hover{
    color: #0ef;
    transition: 0.8s;

}

.like-icon {
    position: absolute;
    z-index: 1;
    top: 19px;
    right: 330px;
    font-size: x-large;
    cursor: pointer;
}

.rating-dialog {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 1;
    top: 0;
    left: 500px;
}

.stars {
    display: flex;
    margin-bottom: 10px;
}

.star {
    font-size: 2rem;
    margin: 0 5px;
    cursor: pointer;
}

textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: both; /* it can be resized both vertically and horizontally by adjusting the bottom, without this css property also we can do */
}

button {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

.rated{
    color: yellow;
}

nav ul{
    float: right;
    margin-right: 10px;
}

nav ul a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
}

nav ul .navheadings:after{
    position: absolute;
    content: '';
    left: 0;
    height: 3px;
    width: 0;
    bottom: -5px;
    background-color: #0ef;
}

nav ul a:hover:after{
    width: 100%;
    transition: 0.3s;
}

nav ul li{
    list-style: none;
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav #hamburger{
    float: right;
    color: white;
    font-size: 20px;
    line-height: 80px;
    margin-right: 10px;
    /* margin-left: 5px; */
    display: none;
    cursor: pointer;
}

.shownav{
    right: -10px;
    transition: 0.5s;
}

/* Home Section */

.homeimage{
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(./IMG_1875-02.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 88vh;
    height: calc(100vh - 12.4vh); /* 80px is equal to 12.4vh */
    
    position: relative;
}

.homecontent{
    position: absolute;
    top: 210px;
    left: 180px;
    letter-spacing: 3px;
    -webkit-text-stroke: 1px white;
}

.homecontent h1{
    font-size: 60px;
}

.homecontent h2{
    font-size: 52px;
}

.homecontent h4{
    font-size: 48px;
}

.socialmedia{
    position: absolute;
    top: 470px;
    left: 186px;
    letter-spacing: 28px;
    font-size: 27px;
}

/* About Section */
.aboutsection{
    height: 100vh;
    width: 100%;
    background-color: #1f242d;

    position: relative;
}

.sectiontitle, .aboutparagraph{
    color: #0ef;
}

.aboutparagraph p{
    color: #fff;
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
}

.aboutimage{
    background-image: url(./IMG_0369-01.png);
    border-radius: 50px;
    box-shadow: 0px 1px 15px #0ef,
                0px 1px 15px #0ef;
    height: 370px;
    width: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 160px;
    right: 100px;
    cursor: pointer;
    
    position: absolute;
}

.aboutlist{
    padding-top: 100px;
    padding-left: 120px;
    font-size: 20px;
}

.aboutpoints{
    display: grid;
    text-align: left;
    grid-template-columns: repeat(2,minmax(auto, 400px));
    margin-top: 30px;
    margin-left: 50px;
}

.aboutlistitems ul li{
    padding-bottom: 80px;
    color: #fff;
}

.aboutlistitems ul li b{
    color: #0ef;
}

/* Skills section */
.skillssection{
    height: 100vh;
    background-color: #323946;
    position: relative;
}

.skillssection h2{
    margin-bottom: 50px;
    color: #0ef;
}

.skillstitle p{
    font-size: 30px;
    text-align: center;
    color: #fff;
}

.skillsdata{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    margin-bottom: 25px;
    margin-left: 150px;
    border-radius: 25px;
    box-shadow: 0 4px 25px rgba(14,36,49,0.1);
    width: 500px;
    background-color: #fff;
    position: relative;
}

.barone{
    margin-top: 105px;
}

.skillsicon{
    font-size: 32px;
    margin-right: 16px;
}

.skillshtml, .skillscss, .skillsjs, .skillspython, .skillssql{
    display: flex;
    align-items: center;
}

.skillsprogressbar{
    left: 10;
    bottom: 0;
    height: 4px;
    border-radius: 2px;
    background-color: #0ef;
    position: absolute;
}

/* write 10% less because percentage bar(left) is adjusted 10% right */
.htmlpercentage{
    width: 75%;
}
.csspercentage{
    width: 75%;
}
.jspercentage{
    width: 50%;
}
.pythonpercentage{
    width: 50%;
}
.sqlpercentage{
    width: 50%;
}
/* write 10% less because percentage bar(left) is adjusted 10% right */

.skillsgif img{
    height: 350px;
    width: 350px;
    box-shadow: 0px 4px 25px grey;
    background-size: contain;
    right: 130px;
    margin-top: 100px;
    cursor: pointer;

    position: absolute;
}

/* Education section */
.educationsection{
    height: 100vh;
    background-color: #1f242d;
}

.educationsection .sectiontitle{
    color: #0ef;
}

.educationdetails{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
}

.studies{
    height: 365px;
    width: 225px;
    padding: 20px;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: scroll;
    text-align: center;
    box-shadow: 0 4px 15px #0ef;
    background-color: #fff;
}

.studies::-webkit-scrollbar {
    display: none;
}

.studiespicture{
    overflow: hidden;
    border-radius: 8px;
}

.studiespicture img{
    height: 120px;
    width: 140px;
    border-radius: 8px;
    background-size: contain;
    transition: 1.5s;
    cursor: pointer;
}

.studies img:hover{
    transform: scale(1.5);
}

.studiescontent{
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
}

.studiescontent p{
    padding: 8px;
}

/* Footer section */
.footersection{
    text-align: center;
    background-color: #323946;
}

.footertitle{
    font-size: 20px;
    margin-bottom: 32px;
    color: #fff;
}

.footersocialmedia{
    margin-bottom: 32px;
}

.footersocialmedia i{
    font-size: 24px;
    margin: 0 22px;
    /* color: #0ef; */
}

.footersection p{
    color: #fff;
}

@media screen and (max-width:768px) {
    
    /* nav */
    #time{
        font-size: 20px;
        margin-left: 175px;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: calc(100vh - 80px);
        background-color: darkblue;
        right: -110%;
        text-align: center;
        transition: 0.5s;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        justify-content: space-around;

        z-index: 1;
    }
    nav #hamburger{
        display: block;
    }

    /* home */
    .homecontent{
        left: 80px;
    }
    .socialmedia{
        top: 420px;
        left: 85px;
        font-size: 20px;
    }
    .homecontent h1{
        font-size: 45px;
    }
    .homecontent h2{
        font-size: 37px;
    }
    .homecontent h4{
        font-size: 33px;
    }

    /* about */
    .aboutimage{
        margin-top: 190px;
        right: 40px;
        height: 270px;
        width: 200px;
    }
    .aboutparagraph p{
        font-size: 25px;
        padding-top: 50px;
    }
    .aboutlist{
        padding-top: 80px;
        padding-left: 15px;
        font-size: 18px;
    }
    .aboutpoints{
        grid-template-columns: repeat(2,250px);
    }

    /* skills */
    .skillstitle p{
        font-size: 25px;
    }
    .skillsdata{
        margin-left: 30px;
        width: 380px;
    }
    .barone{
        margin-top: 85px;
    }
    .skillsgif img{
        height: 260px;
        width: 260px;
        right: 30px;
        margin-top: 105px;
    }
    .skillsicon{
        font-size: 26px;
        margin-right: 16px;
    }

    /* education */
    .educationsection{
        height: auto;
    }
    .educationdetails{
        flex-wrap: wrap;
        margin-top: 40px;
        padding-bottom: 40px;
    }

    /* footer */
    .footertitle{
        font-size: 18px;
    }
    .footersocialmedia i{
        font-size: 20px;
    }
}

@media screen and (max-width:425px){
    /* Header */
    #time{
        /* font-size: 12px;
        margin-left: 38px; */
        display: none;
    }
    nav{
        height: 55px;
    }
    nav .portfolio{
        font-size: 23px;
        line-height: 56px;
    }
    nav #hamburger{
        font-size: 15px;
        line-height: 60px;
    }
    nav ul{
        height: calc(273.39px - 55px);
    }
    nav ul li{
        list-style: none;
        display: inline-block;
        width: 425px;
        line-height: 50px;
        margin: 0px;
    }   
    .shownav{
        width: 425px;
        right: -10px;
    }

    /* Home */
    .homeimage{
        height: 40vh;
        position: relative;
    }
    .homecontent{
        top: 84px;  
        left: 27px; 
    }
    .homecontent h1{
        font-size: 27px;
    }
    .homecontent h2{
        font-size: 23px;
    }
    .homecontent h4{
        font-size: 22px;
    }
    .socialmedia{
        display: flex;
        top: 225px;
        left: 27px;
        font-size: 16px;
    }
    .socialmedia a{
        padding-bottom: 20px;
    }

    /* About */
    .aboutsection{
        height: auto;
    }
    .aboutsection h2{
        font-size: 22px;
    }
    .aboutimage{
        height: 210px;
        width: 170px;
        margin-top: 90px;
        left: 130px;
    }
    .aboutparagraph p{
        font-size: 19px;
        padding-top: 17px;
    }
    .aboutlist{
        padding-top: 245px;
        padding-left: 0px;
        font-size: 16px;
    }
    .aboutpoints{
        grid-template-columns: repeat(2,minmax(auto, 320px));
    }
    .aboutlistitems ul li{
        padding-bottom: 30px;
        font-size: 12px;
    }

    /* skills */
    .skillssection{
        height: 657px;
    }
    .skillssection h2{
        margin-bottom: 17px;
        font-size: 22px;
    }
    .skillstitle p{
        font-size: 20px;
    }
    .skillsgif img{
        height: 210px;
        width: 180px;
        right: 125px;
        margin-top: 30px;
    }
    .skillsdata{
        margin-left: 55px;
        width: 325px;
    }
    .skillsname, .skillspercentage{
        font-size: 15px;
    }
    .barone{
        margin-top: 275px;
    }
    .skillsicon{
        font-size: 18px;
        margin-right: 6px;
    }

    /* education */
    .educationsection h2{
        font-size: 22px;
    }
    .educationdetails{
        margin-top: 17px;
    }
}

@media screen and (max-width:320px){

    /* Header */
    #time{
        /* font-size: 12px;
        margin-left: 38px; */
        display: none;
    }
    nav{
        height: 55px;
    }
    nav .portfolio{
        font-size: 23px;
        line-height: 56px;
    }
    nav #hamburger{
        font-size: 15px;
        line-height: 60px;
    }
    nav ul{
        height: calc(273.39px - 55px);
    }
    nav ul li{
        list-style: none;
        display: inline-block;
        width: 320px;
        line-height: 50px;
        margin: 0px;
    }   
    .shownav{
        width: 320px;
        right: -10px;
    }

    /* Home */
    .homeimage{
        height: 40vh;
        position: relative;
    }
    .homecontent{
        top: 84px;  
        left: 27px; 
    }
    .homecontent h1{
        font-size: 27px;
    }
    .homecontent h2{
        font-size: 23px;
    }
    .homecontent h4{
        font-size: 22px;
    }
    .socialmedia{
        display: flex;
        top: 225px;
        left: 27px;
        font-size: 16px;
    }
    .socialmedia a{
        padding-bottom: 20px;
    }

    /* About */
    .aboutsection{
        height: auto;
    }
    .aboutsection h2{
        font-size: 22px;
    }
    .aboutimage{
        height: 210px;
        width: 170px;
        margin-top: 90px;
        left: 75px;
    }
    .aboutparagraph p{
        font-size: 19px;
        padding-top: 17px;
    }
    .aboutlist{
        padding-top: 245px;
        padding-left: 0px;
        font-size: 16px;
    }
    .aboutpoints{
        grid-template-columns: repeat(2,minmax(auto, 320px));
    }
    .aboutlistitems ul li{
        padding-bottom: 30px;
        font-size: 12px;
    }

    /* skills */
    .skillssection{
        height: 657px;
    }
    .skillssection h2{
        margin-bottom: 17px;
        font-size: 22px;
    }
    .skillstitle p{
        font-size: 19px;
    }
    .skillsgif img{
        height: 210px;
        width: 180px;
        right: 70px;
        margin-top: 30px;
    }
    .skillsdata{
        margin-left: 17px;
        width: 285px;
    }
    .skillsname, .skillspercentage{
        font-size: 15px;
    }
    .barone{
        margin-top: 275px;
    }
    .skillsicon{
        font-size: 18px;
        margin-right: 6px;
    }

    /* education */
    .educationsection h2{
        font-size: 22px;
    }
    .educationdetails{
        margin-top: 17px;
    }
}